*{
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: divlit;
    src: url("../fonts/divlit.ttf");
}

@keyframes op{
    from {opacity: 1;}
    to {opacity: .3;}
}

@keyframes text{
    from {color: chartreuse;}
    to {color: black;}
}

body{
    display: flex;
    justify-content: flex-start;
    background-color: black;
    color: chartreuse;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    outline: none;
}


/*make opacity change on hover*/
iframe
{
    opacity: .6;
    padding: 1rem 0rem;
}

footer{
    position: fixed;
    display: flex;
    bottom: 2.5%;
    left: 1%;
}

button{
    margin: 2.5rem;
    padding: 1rem;
    background-color: #7fff00;
    height: 50%;
    opacity: 0.0;
}

#myVideo1{
    position: fixed;
    left: 30%;
    top: 10%;
    width: 960px;
    height: 720px;
    display: none;
    opacity: .6;
    z-index: -1;
}

#myVideo{
    position: fixed;
    right: 0%;
    bottom: 0%;
    min-width: 100%;
    min-height: 100%;
    opacity: .5;
    z-index: -5;
}

#kencarson{
    display: inline-block;
}

#auto{
    display: none;
}


.shirt{
    width: 20%;
    height: 20%;
    text-align: left;
}

.ken{
    font-size: 15vh;
    font-family: divlit;
    color: #7fff00;
    line-height: .75;
    opacity: .5;
}

.carson{
    font-size: 15vh;
    font-family: divlit;
    color: #7fff00;
    line-height: .75;
    opacity: .5;
}

.container{
    margin-left: 1em;
}

.nav{
    display: flex;
    flex-wrap: wrap;
    color: chartreuse;
    font-size: 5.5vh;
    font-family: Arial, Helvetica, sans-serif;
}

.nav > ul > a{
    color: inherit;
}

.nav > ul > a > li{
    opacity: .5;
}

.nav > ul > a:hover{
    color: inherit;
    font-size: 6vh;
    animation-name: op;
    animation-duration: .5s;
    animation-iteration-count: infinite;
}

.gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: left;
    margin-left: 17.5rem;
    margin-top: 5rem;
    text-decoration: none;
    font-family: arial;
    font-size: 1.5rem;
    font: arial;
    text-align: center;
    line-height: 125%;
    opacity: .7;
    border: 5px solid chartreuse;
    padding: 2.5rem 10rem;
    padding-bottom: 7.5rem;

}

.items{
    display: flex;
    flex-direction: row;
}

.container-music{
    display: flex;
    margin: 1.5em;
    flex-direction: row;
    align-items: center;
}

.container-tweets{
    padding: 2.5rem 5rem;
    padding-left: 5rem;
}

.container-ig{
    padding: 2.5rem 1rem;
}

.songs , .songs1 {
    padding: 1rem;
}

.tapes{
    padding: 1rem;
}
.item{
    /*border: 2px solid chartreuse;*/
    margin: 1rem;
}

.item:hover{
    animation-name: op;
    animation-duration: 2s;
    opacity: .3;
}

.social img{
    opacity: .8;
    margin: 0.25rem;
}

.status{
    position: fixed;
    right: 2%;
    bottom: 2%;
    font-size: 1.25rem;
    color: chartreuse;
    font-family: arial;
    text-align: center;
    animation-name: text;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@media (min-aspect-ratio: 16/9){
    #myVideo{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    #myVideo{
        width: auto;
        height: 100%;
    }
}
