*{
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: divlit;
    src: url("../fonts/divlit.ttf");
}

@keyframes op{
    from {opacity: 1;}
    to {opacity: .3;}
}

@keyframes text{
    from {color: chartreuse;}
    to {color: black;}
}

body{
    background-color: black;
    color: chartreuse;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    outline: none;
}

footer{
    position: fixed;
    display: flex;
    bottom: 2.5%;
    left: 46%;
}

#myVideo{
    position: fixed;
    right: 0%;
    bottom: 0%;
    min-width: 100%;
    min-height: 100%;
    opacity: .5;
    z-index: -1;
}

#kencarson{
    display: inline-block;
}

#auto{
    display: none;
}


.shirt{
    width: 20%;
    height: 20%;
    text-align: left;
}

.ken{
    font-size: 15vh;
    font-family: divlit;
    color: chartreuse;
    line-height: .75;
    opacity: .5;
}

.carson{
    font-size: 15vh;
    font-family: divlit;
    color: chartreuse;
    line-height: .75;
    opacity: .5;
}

.container{
    margin-left: 1em;
}

.nav{
    display: flex;
    color: chartreuse;
    font-size: 5.5vh;
    font-family: Arial, Helvetica, sans-serif;
}

.nav > ul > a{
    color: inherit;
}

.nav > ul > a > li{
    opacity: .5;
}

.nav > ul > a:hover{
    color: inherit;
    font-size: 6vh;
    animation-name: op;
    animation-duration: .5s;
    animation-iteration-count: infinite;
}

.gallery{
    display: flex;
    justify-content: center;
    color: inherit;
    text-decoration: none;
    font-family: arial;
    font-size: 1.5rem;
    text-align: center;
    line-height: 125%;
    opacity: 1;
}

/*.item{
    border: 2px solid chartreuse;
    margin: 1rem;
}*/

.item:hover{
    animation-name: op;
    animation-duration: 2s;
    opacity: .3;
}

.social img{
    opacity: .55;
    margin: 0 .25rem;
}

.status{
    position: fixed;
    right: 2%;
    bottom: 2%;
    font-size: 1.25rem;
    color: chartreuse;
    font-family: arial;
    text-align: center;
    animation-name: text;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@media (min-aspect-ratio: 16/9){
    #myVideo{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    #myVideo{
        width: auto;
        height: 100%;
    }
}
